*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    color: var(--text-dark);
}

.main{
    display: flex;
    justify-content: center;
    background-color: var(--lightbg);
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    max-width: fit-content;
    margin-bottom: 2rem;
    margin-top: 2rem;    
}
input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background: var(--primary-color); /* Deep purple */
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}
.container_inner{
    display: flex;
    flex-direction: column;
    padding: 0 6rem 0 6rem;
    
}
#apodTitle{
    text-align: center;
}
#apodMedia img{
    max-width: min(100%);
    max-height: 80vh;
}
#apodMedia{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}
#apodExplanation{
    text-align: justify;
}
.container_inner div{
    margin: 1rem 0 1rem 0;
}
@media (width < 900px){
    .container_inner{
        padding: 0 1rem 0 1rem;
    }
}